#__pycache__/
#*.log
#*.env
#node_modules/
#.vscode/
# Environment variables
.env
.env.local
.env.development
client/.env
server/.env
node_modules
.idea/
*.iml
.gradle/
build/
local.properties